@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
	font-family: "Bodoni MT";
	color: white;
}

.s1{
	background: url('../images/img4.jpg');
	background-color: black; /* For browsers that do not support gradients */
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.s1{
	font-size: 300%;
}

.s1 p{
	font-size: 80%;
	color: white;
	padding: 5vw;
}

.s2{
	background: url('../images/img3.jpg');
	background-color: black;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.s2 h1{
	/*margin-left: 2em;*/
	font-size: 4rem;
}

.s3{
	background: url('../images/img7.jpg');
	background-color: black;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-left:20vw;
	padding-right:20vw;
}

.s3 h1{
	text-align: center;
	font-size: 2em;
}

.s3 #main{
	width: 70%;
	padding-bottom: 5%: 
}

.s3 #sub{
	width: 35%;
}

.s3 .three img{
	width: 50%;
}

.s4{
	background: url('../images/img8.jpg');;
	background-color: black;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.s4 h2{
	margin-right: 10%;
	margin-left: 10%;
	font-size: 25px;
	color: white;
	font-family: "Bodoni MT"; 
}

.s4 img{
	width: 10%;
}

.one_four{
	font-size: 300%;
}

.s5{
	background: url('../images/img6.jpg');
	background-color: black;
	background-size: cover;
}

span{
	background: white !important;
}

.fp-slidesNav.fp-bottom{
	text-align: center;
	align-items: center;
	justify-content: center;
}

.slide{
	align-items: center;
}

.slide p{
	font-size: 25px;
	color: white;
	font-family: "Bodoni MT"; 
}

.s2 .one img{
	width: 40%;
}

.s2 .two img{
	width: 27%;
}




